In [1]:
import pandas as pd

df_script = pd.read_excel("for_script.xlsx")
df_script = df_script.fillna(0)

df_script.head()

   vocabulary  price  quality  quantity  location
0     absolut    0.0      0.0       0.0       0.0
1  absolutley    0.0      0.0       0.0       0.0
2       accid    0.0      0.0       0.0       0.0
3    accommod    0.0      0.0       0.0       0.0
4     accomod    0.0      0.0       0.0       0.0

In [2]:
df_price = df_script[df_script["price"] == 1]
df_quality = df_script[df_script["quality"] == 1]
df_quantity = df_script[df_script["quantity"] == 1]
df_location = df_script[df_script["location"] == 1]

df_keywords = pd.concat([df_price,df_quality,df_quantity,df_location])
print(df_keywords.shape)
df_keywords.head(20)

(63, 5)

     vocabulary  price  quality  quantity  location
11       afford    1.0      0.0       0.0       0.0
174        buck    1.0      0.0       0.0       0.0
226       cheap    1.0      0.0       0.0       0.0
292        cost    1.0      0.0       0.0       0.0
380    discount    1.0      0.0       0.0       0.0
470      expens    1.0      0.0       0.0       0.0
493        fare    1.0      0.0       0.0       0.0
546        free    1.0      0.0       0.0       0.0
600    gratuiti    1.0      0.0       0.0       0.0
709    inexpens    1.0      0.0       0.0       0.0
1062      price    1.0      0.0       0.0       0.0
1063     pricey    1.0      0.0       0.0       0.0
1282      spend    1.0      0.0       0.0       0.0
1545      worth    1.0      0.0       0.0       0.0
68       averag    0.0      1.0       0.0       0.0
83          bad    0.0      1.0       0.0       0.0
117        best    0.0      1.0       0.0       0.0
251       clean    0.0      1.0       0.0       0.0
313      creami    0.0      1.0       0.0       0.0
317      crispi    0.0      1.0       0.0       0.0

In [3]:
import numpy as np

arr_price = np.asarray(df_price["vocabulary"])
arr_quality = np.asarray(df_quality["vocabulary"])
arr_quantity = np.asarray(df_quantity["vocabulary"])
arr_location = np.asarray(df_location["vocabulary"])

print(arr_price)
print(arr_quality)
print(arr_quantity)
print(arr_location)

['afford' 'buck' 'cheap' 'cost' 'discount' 'expens' 'fare' 'free'
 'gratuiti' 'inexpens' 'price' 'pricey' 'spend' 'worth']
['averag' 'bad' 'best' 'clean' 'creami' 'crispi' 'crumbi' 'crusti'
 'disgrac' 'disgust' 'dri' 'driest' 'eew' 'fine' 'flavorless' 'good'
 'great' 'greatest' 'horribl' 'nasti' 'nice' 'perfect' 'qualiti' 'sad'
 'salti' 'satifi' 'satisfi' 'tasti' 'yucki' 'yummi']
['amount' 'ampl' 'enough' 'gener' 'larg' 'larger' 'portion' 'quantiti'
 'small' 'smaller']
['airport' 'ambianc' 'ambienc' 'area' 'arriv' 'garden' 'joint' 'place'
 'quaint']

In [4]:
def handle_not(line:list):
    for token,i in zip(line,range(0,len(line))):
        if token == "not":
            if line[i+1] != None:
               if (line[i+1] == "good"):
                  line[i+1] = "bad"
               elif (line[i+1] == "bad"):
                  line[i+1] = "good"
               elif (line[i+1] == "tasty"):
                  line[i+1] = "bland"
               elif (line[i+1] == "bland"):
                  line[i+1] = "tasty"
               elif (line[i+1] == "clean"):
                  line[i+1] = "nasty"
               elif (line[i+1] == "nasty"):
                  line[i+1] = "clean"

    return line

df = pd.read_excel("review_data.xlsx")

print(df.shape)
df = df.dropna() #Drop null rows to not deal with them in this step
print(df.shape)

df["idx"] = 1
df["idx"] = df["idx"].cumsum()

reviews = df["Review"]
opinion = df["Liked"]
index = df["idx"]

import string
from tkinter import W
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

sentence_all = list()
lines = reviews.to_list()

#lines = ["Program programmer AND Programming ... programmed"]

for line in lines:
    tokens = word_tokenize(line) #TOKENIZATION
    tokens = [w.lower() for w in tokens] #TO LOWERCASE
    table = str.maketrans('','',string.punctuation) #PUNCTUATION REMOVAL
    stripped = [w.translate(table) for w in tokens] #STRIPPING
    words = [word for word in stripped if word.isalpha()] #STRIPPING

    words = handle_not(words)

    stop_words = set(stopwords.words("english")) #STOPWORD REMOVAL
    words = [w for w in words if not w in stop_words] #STOPWORD REMOVAL

    for w,i in zip(words,range(0,len(words))): #Stemming
        w = PorterStemmer().stem(w)
        words[i] = w

    sentence_all.append(words)

print(reviews[0]," >> ",sentence_all[0])
print(reviews[1]," >> ",sentence_all[1])
print(reviews[2]," >> ",sentence_all[2])

(1000, 2)
(997, 2)
Wow... Loved this place.  >>  ['wow', 'love', 'place']
Crust is not good.  >>  ['crust', 'bad']
Not tasty and the texture was just nasty.  >>  ['bland', 'textur', 'nasti']

In [5]:
price = []
quality = []
quantity = []
location = []



for i,line in zip(range(0,len(sentence_all)),sentence_all):
    price.append(0)
    quality.append(0)
    quantity.append(0)
    location.append(0)

    for token in line:
        for kw in arr_price:
            if token == kw:
                price[i] = 1
        for kw in arr_quality:
            if token == kw:
                quality[i] = 1
        for kw in arr_quantity:
            if token == kw:
                quantity[i] = 1
        for kw in arr_location:
            if token == kw:
                location[i] = 1

In [6]:
classified = {"idx":index,"price":price,"quality":quality,"quantity":quantity,"location":location}
df_classified = pd.DataFrame(classified)
df_classified.head()

   idx  price  quality  quantity  location
0    1      0        0         0         1
1    2      0        1         0         0
2    3      0        1         0         0
3    4      0        0         0         0
4    5      1        1         0         0

In [7]:
df["price"] = price
df["quality"] = quality
df["quantity"] = quantity
df["location"] = location

df =df.drop(columns=["idx"])

df.head()

,Review,Liked,price,quality,quantity,location
0,Wow... Loved this place.,1,0,0,0,1
1,Crust is not good.,0,0,1,0,0
2,Not tasty and the texture was just nasty.,0,0,1,0,0
3,Stopped by during the late May bank holiday of...,1,0,0,0,0
4,The selection on the menu was great and so wer...,1,1,1,0,0

In [8]:
df.to_excel("string_matched_bin.xlsx",index=False)